* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin vertical-padding {
    
    padding-top: 5%;
    padding-bottom: 5%;
}

body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;

    // OVERALL RULES --------------------------------------------

    a {

        text-decoration: none;
        color: inherit;
    }

    button {

        margin-top: 2em;
        padding: .7em 1.2em;
        cursor: pointer;

        color: white;
        border: none;
        border-radius: 5px;
        background-color: dodgerblue;

        &:hover {

            background-color: blue;
        }
    }

    .input-form {
    
        &:not(:last-child) {

            margin-bottom: 1em;
        }
        
        label {
            
            display: block;
            margin-bottom: .3em;
            font-size: 14px;
        }
        
        input {
            
            padding: .5em .8em;
            border-radius: 5px;
            border: .5px solid lightgrey;
        }
    }
    
    // ----------------------------------------------------------

    .container {

        width: 60%;
        margin: 0 auto;
        padding-left: 15%;
        padding-right: 15%;

        header,
        footer {

            @include vertical-padding;
        }

        ul {

            list-style: none;

            li {

                display: flex;
                justify-content: space-between;
                width: 400px;
                margin-top: .7em;

                padding: .3em .1em;
                border-bottom: .5px solid lightgray;

                &:not(:last-child) {

                    margin-bottom: .1em;
                }
                
                &:hover {

                    background-color: rgba($color: lightgrey, $alpha: .25);
                }

                .opt {

                    color: dodgerblue;
                    font-size: 14px;

                    a {

                        &:last-child {

                            margin-left: 1em;
                        }
                    }
                }
            }

            a {

                flex-grow: 1;
            }
        }

        table {

            thead,
            .winner {
                
                font-weight: 600;
            }

            tr {
                
                display: block;
                border-bottom: .5px solid cadetblue;

                td {

                    width: 100px;
                    padding: .5em 0;
                }
            }
        }

        form {

            .form-grid {

                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            button {

                margin-top: 4em;
            }
        }
    }
}